@import "tailwindcss";

.navLink {
    @apply cursor-pointer font-medium text-gray-800 hover:text-black hidden sm:block sm:text-sm;
}

.li-items {
    @apply flex items-center gap-3 py-2 
    font-medium text-gray-500 hover:text-gray-800 
    cursor-pointer ;
}